.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery li {
  display: flex;
  width: 50%;
}

.stats-container {
  width: 100%;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
  padding: 15px;
}

.stats p {
  margin: 0;
  padding: 0;
  min-width: max-content;
}

.stats h2 {
  margin: 0;
  padding: 0;
  color: orange;
}

@media (min-width: 1024px) {
  .card-list {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery {
    min-width: 45vh;
  }

  .stats-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
  }
}