.logo{
    display: flex;
    align-items: center;
    gap: 1%;
    height: 32px;
    overflow: hidden;
    color: orange;
    overflow: hidden;
    background-color: aqua;
}

.icon{
    height: inherit;
    color: inherit;
}