.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px;
  background-color: #0f172b;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-button svg {
  width: 25px;
  color: gray;
}

@media (min-width: 1025px) {
  .menu-button {
    display: none;
  }
}
