html,
body {
  background-color: aliceblue;
  color: black;
  font-family: "Heebo", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: orange;
}

ul {
  list-style: none;
}

button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: rgb(252, 180, 47);
}

h1 {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

input,
textarea {
  all: unset;
  margin: 0;
  padding: 0 !important;
  border: solid 1px rgba(128, 128, 128, 0.5) !important;
}

select {
  border: solid 1px rgba(128, 128, 128, 0.5) !important;
}

input[type=submit] {
  cursor: pointer;
  border: none !important;
}

input[type=submit]:hover {
  background-color: rgb(252, 180, 47) !important;
}